[defaults]
inventory=/home/desktop/git/ansible-playbook/inventory
roles_path=/home/desktop/git/ansible-playbook/roles:/usr/share/ansible/roles
collections_path=/home/desktop/git/ansible-playbook/mycollections:/usr/share/ansible/collections
host_key_checking=False
